body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 20px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
}
